.notification {
    display: inline-flex;
    align-items: center;
    padding: 0px var(--space-3xs);
    border-radius: var(--radius-xs);
    white-space: nowrap;
    width: fit-content;
}

/* Size variants */
.notification {
    height: var(--size-2xs);  /* Default size (notification) */
}

.bullet {
    height: var(--size-sm);  /* 30px */
    width: var(--size-sm);
    padding: 0;
    justify-content: center;  /* Center horizontally */
    align-items: center;     /* Center vertically */
}

/* Color variants */
.positive {
    background-color: rgba(var(--color-green-500-rgb), var(--opacity-200));
    color: var(--color-green-500);
}

.negative {
    background-color: rgba(var(--color-red-500-rgb), var(--opacity-200));
    color: var(--color-red-500);
}

.primary {
    background-color: rgba(var(--color-blue-500-rgb), var(--opacity-200));
    color: var(--color-blue-500);
}

.neutral {
    background-color: rgba(var(--color-grey-400-rgb), var(--opacity-200));
    color: var(--text-secondary);
}

.secondary {
    background-color: rgba(var(--color-cyan-500-rgb), var(--opacity-200));
    color: var(--color-cyan-500);
}

.informative {
    background-color: rgba(var(--color-purple-500-rgb), var(--opacity-200));
    color: var(--color-indigo-500);
} 